{% extends "base.html.j2" %}

{% block title %}{{ ctx.t1("tags.details.title", tag.key()) }}{% endblock title %}

{% block heading %}
<hgroup>
    <h1>
        {{ ctx.t("tags.details.title.pre") }}
        <samp>
            <span style="font-size: 1.2em">#</span>
            {{- tag.system_id }}:<strong>{{ tag.tag_id }}</strong></samp>
        {% if tag.has_content %}
        <button class="outline chip" data-tooltip='{{ ctx.t("tags.key.content.tooltip") }}'>
            <span class="material-icons" style="--pico-font-size: initial">adjust</span>
            {{ ctx.t("tags.key.content.indicator") }}
        </button>
        {% endif %}
    </h1>
    <h3>{{ tag.description }}</h3>
</hgroup>
{% endblock heading %}

{% block action_buttons %}
{% if fully_authorized && tag.system_id != crate::HIVE_SYSTEM_ID %}
<button class="btn-danger" onclick="openModal('delete-tag')">
    <span class="material-icons">delete</span>
    {{ ctx.t("control.delete") }}
</button>
{% endif %}
{% endblock action_buttons %}

{% block content %}
{% if tag.supports_groups %}
<article class="overflow-auto">
    <h2>{{ ctx.t("tags.details.groups.title") }}</h2>
    <div hx-get="/system/{{ tag.system_id }}/tag/{{ tag.tag_id }}/groups" hx-trigger="load delay:100ms"
        hx-swap="outerHTML">
        {# delay is to give event listener time to be set, for aria-busy=true #}
    </div>
    <footer>
        <details>
            <summary role="button" class="secondary">
                {{ ctx.t("tags.details.groups.assign") }}
            </summary>
            {% include "groups/assign.html.j2" %}
        </details>
    </footer>
</article>
{% endif %}

{% if tag.supports_users %}
<article class="overflow-auto">
    <h2>{{ ctx.t("tags.details.users.title") }}</h2>
    <div hx-get="/system/{{ tag.system_id }}/tag/{{ tag.tag_id }}/users" hx-trigger="load delay:100ms"
        hx-swap="outerHTML">
        {# delay is to give event listener time to be set, for aria-busy=true #}
    </div>
    <footer>
        <details>
            <summary role="button" class="secondary">
                {{ ctx.t("tags.details.users.assign") }}
            </summary>
            {% include "users/assign.html.j2" %}
        </details>
    </footer>
</article>
{% endif %}

<article class="overflow-auto">
    <h2>{{ ctx.t("tags.details.subtags.title") }}</h2>
    {% if tag.has_content %}
    <p>
        <span class="material-icons">block</span>
        {{ ctx.t("tags.details.subtags.content-not-supported") }}
    </p>
    {% else %}
    <p>{{ ctx.t("tags.details.subtags.description") }}</p>
    <div hx-get="/system/{{ tag.system_id }}/tag/{{ tag.tag_id }}/subtags" hx-trigger="load delay:100ms"
        hx-swap="outerHTML">
        {# delay is to give event listener time to be set, for aria-busy=true #}
    </div>
    <footer>
        <details>
            <summary role="button" class="secondary">
                {{ ctx.t("tags.details.subtags.add") }}
            </summary>
            {% include "subtags/add.html.j2" %}
        </details>
    </footer>
    {% endif %}
</article>

{% if fully_authorized && tag.system_id != crate::HIVE_SYSTEM_ID %}
{% include "delete.html.j2" %}
{% endif %}
{% endblock content %}
