{% extends "base.html.j2" %}

{% block title %}{{ ctx.t1("systems.details.title", system.id) }}{% endblock title %}

{% block heading %}
<hgroup>
    <h1>{{ ctx.t1("systems.details.title", system.id) }}</h1>
    <h3 id="system-description">{{ system.description }}</h3>
</hgroup>
{% endblock heading %}

{% block action_buttons %}
{% if fully_authorized %}
<button class="secondary" onclick="openModal('edit-system')">
    <span class="material-icons">edit</span>
    {{ ctx.t("control.edit") }}
</button>
{% if system.id != crate::HIVE_SYSTEM_ID %}
<button class="btn-danger" onclick="openModal('delete-system')">
    <span class="material-icons">delete</span>
    {{ ctx.t("control.delete") }}
</button>
{% endif %}
{% endif %}
{% endblock action_buttons %}

{% block content %}
<article class="overflow-auto">
    <h2>{{ ctx.t("systems.details.api-tokens.title") }}</h2>
    <div hx-get="/system/{{ system.id }}/api-tokens" hx-trigger="load delay:100ms" hx-swap="outerHTML">
        {# delay is to give event listener time to be set, for aria-busy=true #}
    </div>
    <footer>
        <details>
            <summary role="button" class="secondary">
                {{ ctx.t("systems.details.api-tokens.heading.create") }}
            </summary>
            {% include "api-tokens/create.html.j2" %}
        </details>
    </footer>
</article>

<article class="overflow-auto">
    <h2>{{ ctx.t("systems.details.permissions.title") }}</h2>
    <div hx-get="/system/{{ system.id }}/permissions" hx-trigger="load delay:100ms" hx-swap="outerHTML">
        {# delay is to give event listener time to be set, for aria-busy=true #}
    </div>
    {% if can_manage_permissions && system.id != crate::HIVE_SYSTEM_ID %}
    <footer>
        <details>
            <summary role="button" class="secondary">
                {{ ctx.t("systems.details.permissions.heading.create") }}
            </summary>
            {% include "permissions/create.html.j2" %}
        </details>
    </footer>
    {% endif %}
</article>

<article class="overflow-auto">
    <h2>{{ ctx.t("systems.details.tags.title") }}</h2>
    <div hx-get="/system/{{ system.id }}/tags" hx-trigger="load delay:100ms" hx-swap="outerHTML">
        {# delay is to give event listener time to be set, for aria-busy=true #}
    </div>
    {% if can_manage_tags && system.id != crate::HIVE_SYSTEM_ID %}
    <footer>
        <details>
            <summary role="button" class="secondary">
                {{ ctx.t("systems.details.tags.heading.create") }}
            </summary>
            {% include "tags/create.html.j2" %}
        </details>
    </footer>
    {% endif %}
</article>

{% if fully_authorized %}
{% include "edit.html.j2" %}
{% if system.id != crate::HIVE_SYSTEM_ID %}
{% include "delete.html.j2" %}
{% endif %}
{% endif %}
{% endblock content %}
