{% extends "base.html.j2" %}

{% block title %}{{ ctx.t("systems.list.title") }}{% endblock title %}

{% block content %}
<input type="search" name="q" value='{{ q.unwrap_or("") }}' placeholder=' {{ ctx.t("control.search") }}'
    aria-label='{{ ctx.t("control.search") }}' hx-get="/systems"
    hx-trigger="input changed delay:500ms, search, keyup[key=='Enter']" hx-target="#listing-block"
    hx-indicator="#listing-block" hx-push-url="true" />

<div id="listing-block" class="htmx-anti-indicator">
    {% for system in systems %}
    <article>
        <header class="header-flex">
            <h3>{{ system.id }}</h3>
            <a href="/system/{{ system.id }}" role="button">
                {{ ctx.t("control.manage") }}
                <span class="material-icons">arrow_forward</span>
            </a>
        </header>
        {{ system.description }}
    </article>
    {% endfor %}
    <p><em>{{ ctx.t1("listing.n-results", systems.len()) }}</em></p>
</div>
{% endblock content %}
