{% extends "base.html.j2" %}

{% block title %}{{ ctx.t("systems.list.title") }}{% endblock title %}

{% block action_buttons %}
<button onclick="openModal('create-system')">
    <span class="material-icons">add</span>
    {{ ctx.t("systems.list.action.create") }}
</button>
{% endblock action_buttons %}

{% block content %}
<input type="search" name="q" value='{{ q.unwrap_or("") }}' placeholder=' {{ ctx.t("control.search") }}'
    aria-label='{{ ctx.t("control.search") }}' hx-get="/systems"
    hx-trigger="input changed delay:500ms, search, keyup[key=='Enter']" hx-target="#listing-block"
    hx-indicator="#listing-block" hx-push-url="true" />

<div id="listing-block" class="htmx-anti-indicator">
    {% block inner_systems_listing %}
    {% for system in systems %}
    <article>
        <header class="header-flex">
            <h3>{{ system.id|e|highlight(q.unwrap_or("")) }}</h3>
            <a href="/system/{{ system.id }}" role="button" class="secondary">
                {{ ctx.t("control.manage") }}
                <span class="material-icons">arrow_forward</span>
            </a>
        </header>
        {{ system.description|e|highlight(q.unwrap_or("")) }}
    </article>
    {% endfor %}
    <p class="secondary">
        <em>
            {% if systems.len() > 0 %}
            {{ ctx.t1("listing.n-results", systems.len()) }}
            {% else %}
            {# we know this is a search problem since hive always exists #}
            <span class="material-icons">search_off</span>
            {{ ctx.t("systems.list.search.no-results") }}
            {% endif %}
        </em>
    </p>
    {% endblock inner_systems_listing %}
</div>

{% include "create.html.j2" %}
{% endblock content %}
