<table id="permissions-table" class="striped">
    <thead>
        <tr>
            <th scope="col">{{ ctx.t("permissions.list.col.id") }}</th>
            <th scope="col">{{ ctx.t("permissions.list.col.description") }}</th>
            {% if can_manage %}
            <th scope="col">{{ ctx.t("col.actions") }}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr class="if-table-empty">
            <td colspan="3">
                <span class="material-icons">block</span>
                {{ ctx.t("permissions.list.empty") }}
            </td>
        </tr>
        {% for permission in permissions %}
        <tr>
            {% include "row-cells.html.j2" %}
        </tr>
        {% endfor %}
    </tbody>
</table>
