<td>
    <samp>
        <span style="font-size: 1.2em">$</span>
        {{- permission.system_id }}:<strong>{{ permission.perm_id }}</strong>
        {%- if permission.has_scope -%}
        {%- let tooltip = ctx.t("permissions.list.scope.tooltip") -%}
        {%- let var = ctx.t("permissions.list.scope.var") -%}
        :<span class="primary" data-tooltip="{{ tooltip }}">&lt;{{ var }}&gt;</span>
        {%- endif -%}
    </samp>
</td>
<td>{{ permission.description }}</td>
{% if can_manage %}
<td>
    <button>Test</button>
</td>
{% endif %}
