<td>
    {% include "key.html.j2" %}
</td>
<td>{{ permission.description }}</td>
{% if can_manage %}
<td>
    <a href="/system/{{ permission.system_id }}/permission/{{ permission.perm_id }}" role="button"
        class="secondary material-icons" data-tooltip='{{ ctx.t("control.manage") }}' data-placement="left">
        arrow_forward
    </a>
</td>
{% endif %}
