<table id="api-tokens-table" class="striped">
    <thead>
        <tr>
            <th scope="col">{{ ctx.t("api-tokens.list.col.id") }}</th>
            <th scope="col">{{ ctx.t("api-tokens.list.col.description") }}</th>
            <th scope="col">{{ ctx.t("api-tokens.list.col.expiration") }}</th>
            <th scope="col">{{ ctx.t("api-tokens.list.col.last-used") }}</th>
            <th scope="col">{{ ctx.t("col.actions") }}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="if-table-empty">
            <td colspan="5">
                <span class="material-icons">block</span>
                {{ ctx.t("api-tokens.list.empty") }}
            </td>
        </tr>
        {% for token in api_tokens %}
        <tr>
            {% include "row-cells.html.j2" %}
        </tr>
        {% endfor %}
    </tbody>
</table>
