{%- import "utils.html.j2" as utils -%}

<table id="api-tokens-table" class="striped">
    <thead>
        <tr>
            <th scope="col">{{ ctx.t("api-tokens.list.col.id") }}</th>
            <th scope="col">{{ ctx.t("api-tokens.list.col.description") }}</th>
            <th scope="col">{{ ctx.t("api-tokens.list.col.expiration") }}</th>
            <th scope="col">{{ ctx.t("api-tokens.list.col.last-used") }}</th>
            <th scope="col">{{ ctx.t("api-tokens.list.col.actions") }}</th>
        </tr>
    </thead>
    <tbody>
        {% for token in api_tokens %}
        <tr>
            {% include "row-cells.html.j2" %}
        </tr>
        {% endfor %}
    </tbody>
</table>
