{% extends "base.html.j2" %}

{%- import "utils.html.j2" as utils -%}

{% block title %}{{ ctx.t("groups.list.title") }}{% endblock title %}

{% block action_buttons %}
{% if can_create %}
<button onclick="openModal('create-group')">
    <span class="material-icons">add</span>
    {{ ctx.t("groups.list.action.create") }}
</button>
{% endif %}
{% endblock action_buttons %}

{% block content %}
<form method="get" hx-boost="true" hx-target="#listing-block" hx-indicator="#listing-block"
    hx-trigger="submit, change, search, input changed delay:500ms">
    <input type="search" name="q" value='{{ q.unwrap_or("") }}' placeholder=' {{ ctx.t("control.search") }}'
        aria-label='{{ ctx.t("control.search") }}' />

    <div class="grid">
        <label>
            {{ ctx.t("groups.list.control.sort.label") }}
            <select name="sort">
                <option {% call utils::option(ListGroupsSort::Name, sort) %}>
                    {{ ctx.t("groups.list.control.sort.option.name") }}
                </option>
                <option {% call utils::option(ListGroupsSort::Key, sort) %}>
                    {{ ctx.t("groups.list.control.sort.option.key") }}
                </option>
                <option {% call utils::option(ListGroupsSort::Domain, sort) %}>
                    {{ ctx.t("groups.list.control.sort.option.domain") }}
                </option>
                <option {% call utils::option(ListGroupsSort::DirectMembers, sort) %}>
                    {{ ctx.t("groups.list.control.sort.option.direct-members") }}
                </option>
                <option {% call utils::option(ListGroupsSort::TotalMembers, sort) %}>
                    {{ ctx.t("groups.list.control.sort.option.total-members") }}
                </option>
            </select>
        </label>
        <label>
            {{ ctx.t("groups.list.control.layout.label") }}
            <select name="layout">
                <option {% call utils::option(ListGroupsLayout::Normal, layout) %}>
                    {{ ctx.t("groups.list.control.layout.option.normal") }}
                </option>
                <option {% call utils::option(ListGroupsLayout::Compact, layout) %}>
                    {{ ctx.t("groups.list.control.layout.option.compact") }}
                </option>
            </select>
        </label>
        <label>
            {{ ctx.t("groups.list.control.domain-filter.label") }}
            <select name="domain">
                <option {% call utils::option("", domain_filter.unwrap_or("")) %} style="font-style: italic">
                    {{ ctx.t("groups.list.control.domain-filter.any") }}
                </option>
                {% for domain in domains %}
                <option {% call utils::option(domain, domain_filter.unwrap_or("")) %}>
                    {{ domain }}
                </option>
                {% endfor %}
            </select>
        </label>
    </div>
</form>

<div id="listing-block" class="htmx-anti-indicator">
    {% block inner_groups_listing %}
    {% match layout %}
    {% when ListGroupsLayout::Normal %}
    {% include "list-layouts/normal.html.j2" %}
    {% when ListGroupsLayout::Compact %}
    {% include "list-layouts/compact.html.j2" %}
    {% endmatch %}
    <p class="secondary">
        <em>
            {% if summaries.len() > 0 %}
            {{ ctx.t1("listing.n-results", summaries.len()) }}
            {% else if q.is_some() %}
            <span class="material-icons">search_off</span>
            {{ ctx.t("groups.list.search.no-results") }}
            {% else %}
            <span class="material-icons">block</span>
            {{ ctx.t("groups.list.empty") }}
            {% endif %}
        </em>
    </p>
    {% endblock inner_groups_listing %}
</div>

{% if can_create %}
{% include "create.html.j2" %}
{% endif %}
{% endblock content %}
