{% extends "base.html.j2" %}

{% block title %}Groups{% endblock title %}

{% block content %}
<ul>
    {% for group in groups %}
    <li>{{ group.name_sv }}</li>
    {% endfor %}
</ul>
{% endblock content %}
