{% extends "base.html.j2" %}

{%- import "utils.html.j2" as utils -%}

{% block title %}{{ ctx.t("groups.list.title") }}{% endblock title %}

{% block action_buttons %}
{% if fully_authorized %}
<button onclick="openModal('create-group')">
    <span class="material-icons">add</span>
    {{ ctx.t("groups.list.action.create") }}
</button>
{% endif %}
{% endblock action_buttons %}

{% block content %}
<form method="get" hx-boost="true" hx-target="#listing-block" hx-indicator="#listing-block"
    hx-trigger="submit, change, search, input changed delay:500ms">
    <input type="search" name="q" value='{{ q.unwrap_or("") }}' placeholder=' {{ ctx.t("control.search") }}'
        aria-label='{{ ctx.t("control.search") }}' />

    <div class="grid">
        <label>
            {{ ctx.t("groups.list.control.sort.label") }}
            <select name="sort">
                <option {% call utils::option(ListGroupsSort::Name, sort) %}>
                    {{ ctx.t("groups.list.control.sort.option.name") }}
                </option>
                <option {% call utils::option(ListGroupsSort::Id, sort) %}>
                    {{ ctx.t("groups.list.control.sort.option.id") }}
                </option>
                <option {% call utils::option(ListGroupsSort::Domain, sort) %}>
                    {{ ctx.t("groups.list.control.sort.option.domain") }}
                </option>
                <option {% call utils::option(ListGroupsSort::DirectMembers, sort) %}>
                    {{ ctx.t("groups.list.control.sort.option.direct-members") }}
                </option>
                <option {% call utils::option(ListGroupsSort::TotalMembers, sort) %}>
                    {{ ctx.t("groups.list.control.sort.option.total-members") }}
                </option>
            </select>
        </label>
        <label>
            {{ ctx.t("groups.list.control.domain-filter.label") }}
            <select name="domain">
                <option {% call utils::option("", domain_filter.unwrap_or("")) %} style="font-style: italic">
                    {{ ctx.t("groups.list.control.domain-filter.any") }}
                </option>
                {% for domain in domains %}
                <option {% call utils::option(domain, domain_filter.unwrap_or("")) %}>
                    {{ domain }}
                </option>
                {% endfor %}
            </select>
        </label>
    </div>
</form>

<div id="listing-block" class="htmx-anti-indicator">
    {% block inner_groups_listing %}
    {% for summary in summaries %}
    <article>
        <header class="flex-between">
            <hgroup>
                <h3>
                    {{ summary.group.localized_name(ctx.lang)|e|highlight(q.unwrap_or("")) }}

                    {% match summary.role %}
                    {% when Some(RoleInGroup::Manager) %}
                    <span class="primary material-icons" data-tooltip='{{ ctx.t("groups.list.icon.manager") }}'>
                        local_police
                    </span>
                    {% when Some(RoleInGroup::Member) %}
                    <span class="secondary material-icons" data-tooltip='{{ ctx.t("groups.list.icon.member") }}'>
                        account_circle
                    </span>
                    {% when None %}
                    {% endmatch %}

                    {% if let Some(GroupMembershipKind::Direct) = summary.membership_kind %}
                    <span class="secondary material-icons" data-tooltip='{{ ctx.t("groups.list.icon.direct-member") }}'>
                        verified_user
                    </span>
                    {% endif %}
                </h3>
                {% let other_lang = ctx.lang.other() %}
                <h4 lang="{{ other_lang }}">
                    ({{ summary.group.localized_name(other_lang)|e|highlight(q.unwrap_or("")) }})
                </h4>
            </hgroup>
            <a href="/group/{{ summary.group.domain }}/{{ summary.group.id }}" role="button" class="secondary">
                {{ ctx.t("control.view") }}
                <span class="material-icons">arrow_forward</span>
            </a>
        </header>
        {{ summary.group.localized_description(ctx.lang)|e|highlight(q.unwrap_or("")) }}
        <footer class="flex-between">
            <div>
                <button class="outline secondary chip"
                    data-tooltip='{{ ctx.t1("groups.list.stats.icon.n-direct-members", summary.n_direct_members) }}'>
                    <span class="material-icons">verified_user</span>
                    {{ summary.n_direct_members }}
                    </span>
                </button>
                <button class="outline secondary chip"
                    data-tooltip='{{ ctx.t1("groups.list.stats.icon.n-total-members", summary.n_total_members) }}'>
                    <span class="material-icons">account_circle</span>
                    {{ summary.n_total_members }}
                </button>
                <button class="outline secondary chip"
                    data-tooltip='{{ ctx.t1("groups.list.stats.icon.n-permissions", summary.n_permissions) }}'>
                    <span class="material-icons">key</span>
                    {{ summary.n_permissions }}
                </button>
            </div>
            <samp data-tooltip='{{ ctx.t("groups.list.id.tooltip") }}'>
                <strong>
                    {{- summary.group.id|e|highlight(q.unwrap_or("")) -}}
                </strong><span class="primary">@
                    {{- summary.group.domain|e|highlight(q.unwrap_or("")) -}}
                </span>
            </samp>
        </footer>
    </article>
    {% endfor %}
    <p class="secondary">
        <em>
            {% if summaries.len() > 0 %}
            {{ ctx.t1("listing.n-results", summaries.len()) }}
            {% else if q.is_some() %}
            <span class="material-icons">search_off</span>
            {{ ctx.t("groups.list.search.no-results") }}
            {% else %}
            <span class="material-icons">block</span>
            {{ ctx.t("groups.list.empty") }}
            {% endif %}
        </em>
    </p>
    {% endblock inner_groups_listing %}
</div>

{% include "create.html.j2" %}
{% endblock content %}
