<table id="group-members-table" class="striped" data-with-indirect="{{ show_indirect }}">
    <thead>
        <tr>
            <th scope="col" class="center">
                {% if show_indirect %}
                {{ ctx.t("groups.members.list.col.details") }}
                {% else %}
                {{ ctx.t("groups.members.list.col.type") }}
                {% endif %}
            </th>
            <th scope="col">{{ ctx.t("groups.members.list.col.id") }}</th>
            <th scope="col">{{ ctx.t("groups.members.list.col.name") }}</th>
            <th scope="col">
                {{ ctx.t("groups.members.list.col.from") }}
                <span class="material-icons" data-tooltip='{{ ctx.t("groups.members.list.tooltip.inclusive") }}'>
                    info
                </span>
            </th>
            <th scope="col">
                {{ ctx.t("groups.members.list.col.until") }}
                <span class="material-icons" data-tooltip='{{ ctx.t("groups.members.list.tooltip.inclusive") }}'>
                    info
                </span>
            </th>
            {% if can_manage && !show_indirect %}
            <th scope="col">{{ ctx.t("col.actions") }}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr class="if-table-empty">
            <td colspan="6">
                <span class="material-icons">block</span>
                {{ ctx.t("groups.members.list.empty") }}
            </td>
        </tr>
        {% for subgroup in subgroups %}
        <tr>
            {% include "subgroup-cells.html.j2" %}
        </tr>
        {% endfor %}
        {% for member in members %}
        {% let is_future_member = member.from > chrono::Local::now().date_naive() %}
        {% if is_future_member %}
        <tr class="secondary">
            {% else %}
        <tr>
            {% endif %}

            {% include "member-cells.html.j2" %}
        </tr>
        {% endfor %}
    </tbody>
</table>
