<table id="permission-api-tokens-table" class="striped">
    <thead>
        <tr>
            <th scope="col">{{ ctx.t("permissions.api-tokens.list.col.system") }}</th>
            <th scope="col">{{ ctx.t("permissions.api-tokens.list.col.id") }}</th>
            <th scope="col">{{ ctx.t("permissions.api-tokens.list.col.description") }}</th>
            {% if has_scope %}
            <th scope="col">{{ ctx.t("permissions.api-tokens.list.col.scope") }}</th>
            {% endif %}
            {% if can_manage_any %}
            {# this doesn't count with assignments added later... #}
            <th scope="col">{{ ctx.t("col.actions") }}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr class="if-table-empty">
            <td colspan="5">
                <span class="material-icons">block</span>
                {{ ctx.t("permissions.api-tokens.list.empty") }}
            </td>
        </tr>
        {% for assignment in permission_assignments %}
        <tr>
            {% include "row-cells.html.j2" %}
        </tr>
        {% endfor %}
    </tbody>
</table>
