.primary {
  color: var(--pico-primary);
}

a.material-icons:hover {
  --pico-text-decoration: none !important;
  --pico-font-weight: 700;
  font-weight: var(--pico-font-weight);
}

.material-icons {
  vertical-align: text-bottom;
  /* unclear why this is needed, or if even the best value */
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  --pico-typography-spacing-vertical: 0;
}

[role="button"],
[type="button"],
[type="file"]::file-selector-button,
[type="reset"],
[type="submit"],
button {
  /* a little less padding */
  --pico-form-element-spacing-vertical: 0.5rem;
  --pico-form-element-spacing-horizontal: 0.75rem;
}

/* opposite of .htmx-indicator; hidden if a request is being sent */
.htmx-anti-indicator {
  visibility: visible;
}
.htmx-request.htmx-anti-indicator,
.htmx-request .htmx-anti-indicator {
  visibility: hidden;
  text-align: center;
}
/* Pico loading spinner */
.htmx-anti-indicator[aria-busy="true"]::before {
  visibility: visible;
  font-size: 3rem;
}
