.primary {
  --pico-color: var(--pico-primary);
}

.secondary {
  /* using color: would override .secondary buttons' text color */
  --pico-color: var(--pico-secondary);
}

.success {
  /* some light hijacking to get dark/light theme variants for free */
  color: var(--pico-form-element-valid-focus-color);
}

.btn-danger {
  --pico-background-color: var(--pico-form-element-invalid-focus-color);
  --pico-border-color: var(--pico-form-element-invalid-border-color);
  --pico-color: var(--pico-secondary-inverse);
}
.btn-danger:is(:hover, :active, :focus) {
  --pico-background-color: var(--pico-form-element-invalid-border-color);
  --pico-border-color: var(--pico-form-element-invalid-border-color);
  --pico-color: var(--pico-secondary-inverse);
}
.btn-danger:focus {
  --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
    0 0 0 var(--pico-outline-width)
      var(--pico-form-element-invalid-border-color);
}

[data-tooltip]::before,
[data-tooltip]::after {
  /* reset monospace from pre, samp, etc. */
  font-family: var(--pico-font-family-sans-serif);
}

[data-require-validity] {
  /* disabled transition */
  transition: opacity ease-in 100ms;
}

.material-icons {
  vertical-align: middle;
  color: var(--pico-color);
}

a.material-icons:hover {
  --pico-text-decoration: none !important;
  --pico-font-weight: 700;
  font-weight: var(--pico-font-weight);
}

[role="button"]:has(> .material-icons),
[type="button"]:has(> .material-icons),
[type="reset"]:has(> .material-icons),
[type="submit"]:has(> .material-icons),
button:has(> .material-icons) {
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
}

[role="button"],
[type="button"],
[type="file"]::file-selector-button,
[type="reset"],
[type="submit"],
button {
  /* a little less padding */
  --pico-form-element-spacing-vertical: 0.5rem;
  --pico-form-element-spacing-horizontal: 0.75rem;
}

article header,
article footer {
  --pico-typography-spacing-vertical: 0;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* ^ baseline might be more correct, but center looks best with short text far apart */
}

.flex-end {
  display: flex;
  justify-content: end;
}

/* empty text that automatically goes away if a new row is appended */
table tbody > .if-table-empty:not(:only-child) {
  display: none;
}
table tbody > .if-table-empty td {
  text-align: center;
  font-style: italic;
  color: var(--pico-secondary);
}
table tbody > .if-table-empty td .material-icons {
  vertical-align: text-bottom;
}

/* opposite of .htmx-indicator; hidden if a request is being sent */
.htmx-anti-indicator {
  visibility: visible;
}
.htmx-request.htmx-anti-indicator,
.htmx-request .htmx-anti-indicator {
  visibility: hidden;
  text-align: center;
}

/* Pico loading spinner in a div with no children */
div[aria-busy="true"]:not(:has(*))::before {
  visibility: visible; /* counter-act .htmx-anti-indicator, if applicable */
  font-size: 3rem;
}
div[aria-busy="true"]:not(:has(*)) {
  text-align: center;
}
