<!DOCTYPE html>
<html lang="{{ ctx.lang }}">

<head>
    <meta charset="utf-8" />
    <title>
        {%- block full_title -%}
        {%- block title -%}{%- endblock title %} | Hive
        {%- endblock full_title -%}
    </title>
</head>

<body>
    <main>
        {%- block content -%}
        {%- endblock content -%}
    </main>
    <span>{{ ctx.t1("test.message", "John") }}</span>
</body>

</html>
