<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        {%- block full_title -%}
        {%- block title -%}{%- endblock title -%} | Hive
        {%- endblock full_title -%}
    </title>
</head>

<body>
    <main>
        {%- block content -%}
        {%- endblock content -%}
    </main>
</body>

</html>
